@media screen and (max-width:767px){
	
	.service .service-contuct{
		text-align:center;
		margin-bottom:30px;
	}
	.gallery img{
		margin-bottom:15px;
		}
		.what-do .what-pic{
			margin:30px;
	}
	.pricing .card{
		width:75%;
		margin:20px auto;
		}
		.blog .card{
			margin:20px auto;
			}
			.contuct-content .contuct-left{
				margin:20px auto;
				}
	
}
@media screen and (max-width:767px){
	.newslatter input{
		margin-bottom:10px;
	}
}
@media screen and (max-width:514px){
	.getting .getting-intro{
		font-size:40px;
		}
}